YorkBankCliente/xml-resources/web-service-references/Servidor/wsdl/35.198.54.55_8080/YorkBankWS/Servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://org.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://org.ws/" name="Servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://org.ws/" schemaLocation="http://35.198.54.55:8080/YorkBankWS/Servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="AddAccount">
<part name="parameters" element="tns:AddAccount"/>
</message>
<message name="AddAccountResponse">
<part name="parameters" element="tns:AddAccountResponse"/>
</message>
<message name="DeleteAccount">
<part name="parameters" element="tns:DeleteAccount"/>
</message>
<message name="DeleteAccountResponse">
<part name="parameters" element="tns:DeleteAccountResponse"/>
</message>
<message name="ListAccount">
<part name="parameters" element="tns:ListAccount"/>
</message>
<message name="ListAccountResponse">
<part name="parameters" element="tns:ListAccountResponse"/>
</message>
<message name="AccountBalance">
<part name="parameters" element="tns:AccountBalance"/>
</message>
<message name="AccountBalanceResponse">
<part name="parameters" element="tns:AccountBalanceResponse"/>
</message>
<portType name="Servidor">
<operation name="AddAccount">
<input wsam:Action="http://org.ws/Servidor/AddAccountRequest" message="tns:AddAccount"/>
<output wsam:Action="http://org.ws/Servidor/AddAccountResponse" message="tns:AddAccountResponse"/>
</operation>
<operation name="DeleteAccount">
<input wsam:Action="http://org.ws/Servidor/DeleteAccountRequest" message="tns:DeleteAccount"/>
<output wsam:Action="http://org.ws/Servidor/DeleteAccountResponse" message="tns:DeleteAccountResponse"/>
</operation>
<operation name="ListAccount">
<input wsam:Action="http://org.ws/Servidor/ListAccountRequest" message="tns:ListAccount"/>
<output wsam:Action="http://org.ws/Servidor/ListAccountResponse" message="tns:ListAccountResponse"/>
</operation>
<operation name="AccountBalance">
<input wsam:Action="http://org.ws/Servidor/AccountBalanceRequest" message="tns:AccountBalance"/>
<output wsam:Action="http://org.ws/Servidor/AccountBalanceResponse" message="tns:AccountBalanceResponse"/>
</operation>
</portType>
<binding name="ServidorPortBinding" type="tns:Servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servidor">
<port name="ServidorPort" binding="tns:ServidorPortBinding">
<soap:address location="http://35.198.54.55:8080/YorkBankWS/Servidor"/>
</port>
</service>
</definitions>